name: Test Multiple Arch

on:
  workflow_dispatch:

jobs:
  setup-dotnet:
    # runs-on: ubuntu-22.04-arm
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest,ubuntu-22.04, macos-latest,ubuntu-24.04-arm,ubuntu-22.04-arm, macos-15-intel] # [windows-latest,windows-11-arm ]  
    

    steps:
      # Enable on Macos/linux
      - name: Install .NET 6 on x64
        run: |
          curl -sSL https://dot.net/v1/dotnet-install.sh | bash /dev/stdin --runtime dotnet --version latest --architecture x64 --install-dir $HOME/.dotnet-x64

      # Enable on Windows
      # - name: Install .NET 6 x64
      #   run: |
      #     curl -sSL https://dot.net/v1/dotnet-install.ps1 -o dotnet-install.ps1
      #     powershell -ExecutionPolicy Bypass -File dotnet-install.ps1 -Runtime dotnet -Version latest -Architecture x64 -InstallDir $env:USERPROFILE\.dotnet-x64

      # - name: Verify x64 .NET installation on Windows
      #   run: |
      #     & "$env:USERPROFILE\.dotnet-x64\dotnet" --info

        # Enable on Macos/linux
      - name: Add .NET to PATH
        run: echo "$HOME/.dotnet-x64" >> $GITHUB_PATH

       # Enable on Macos/Linux
      - name: Verify .NET installation
        run: dotnet --info

        
      # Enable on Windows
      # - name: Install .NET 6 x86
      #   run: |
      #     powershell -ExecutionPolicy Bypass -File dotnet-install.ps1 -Runtime dotnet -Version latest -Architecture x86 -InstallDir $env:USERPROFILE\.dotnet-x86

      # - name: Verify x86 .NET installation on Windows
      #   run: |
      #     & "$env:USERPROFILE\.dotnet-x86\dotnet" --info
          
      # # Enable on Macos/linux
      - name: Install .NET 6 on ARM64
        run: |
          curl -sSL https://dot.net/v1/dotnet-install.sh | bash /dev/stdin --runtime dotnet --version latest --architecture arm64 --install-dir $HOME/.dotnet-arm64

      # Enable on Windows
      # - name: Install .NET 6 arm64
      #   run: |
      #     curl -sSL https://dot.net/v1/dotnet-install.ps1 -o dotnet-install.ps1
      #     powershell -ExecutionPolicy Bypass -File dotnet-install.ps1 -Runtime dotnet -Version latest -Architecture arm64 -InstallDir $env:USERPROFILE\.dotnet-arm64

      - name: Add .NET to PATH
        run: echo "$HOME/.dotnet-arm64" >> $GITHUB_PATH
        
      # Enable on Macos/Linux
      - name: Verify .NET installation
        run: dotnet --info
      
      # - name: Verify arm64 .NET installation on windows
      #   run: |
      #     & "$env:USERPROFILE\.dotnet-arm64\dotnet" --info
