name: Test Multiple Arch

on:
  workflow_dispatch:

jobs:
  setup-dotnet:
    runs-on: windows-latest

    steps:
      - name: Install .NET 6 arm64
        run: |
          curl -sSL https://dot.net/v1/dotnet-install.ps1 -o dotnet-install.ps1
          powershell -ExecutionPolicy Bypass -File dotnet-install.ps1 -Runtime dotnet -Version 6.0.0 -Architecture arm64 -InstallDir $env:USERPROFILE\.dotnet-arm64

      - name: Verify x86 .NET installation
        run: |
          & "$env:USERPROFILE\.dotnet-arm64\dotnet" --info

      - name: Install .NET 6 x64
        run: |
          powershell -ExecutionPolicy Bypass -File dotnet-install.ps1 -Runtime dotnet -Version 6.0.0 -Architecture x64 -InstallDir $env:USERPROFILE\.dotnet-x64

      - name: Verify x64 .NET installation
        run: |
          & "$env:USERPROFILE\.dotnet-x64\dotnet" --info
