name: Test Multiple Arch

on:
  workflow_dispatch:

jobs:
  setup-dotnet:
    runs-on: windows-latest

    steps:
      - name: Install .NET 6 on x86
        run: |
          curl -sSL https://dot.net/v1/dotnet-install.sh | bash /dev/stdin --runtime dotnet --version 6.0.0 --architecture x86 --install-dir $HOME/.dotnet-x86

      - name: Verify .NET installation
        run: dotnet --info
        
      # - name: Add .NET to PATH
      #   run: echo "$HOME/.dotnet" >> $GITHUB_PATH

      # - name: Verify .NET installation
      #   run: dotnet --info

      - name: Install .NET 6 on x64
        run: |
          curl -sSL https://dot.net/v1/dotnet-install.sh | bash /dev/stdin --runtime dotnet --version 6.0.0 --architecture x64 --install-dir $HOME/.dotnet-x64

      - name: Verify .NET installation
        run: dotnet --info
        
